svg{
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  margin:auto;
}
.krishna{
  stroke-width:2px;
  stroke-dashoffset:-200;
  stroke-dasharray:200;
  animation:krishna 10s infinite;
  animation-direction:alternate;
  animation-timing-function:ease-in;
}

@keyframes krishna{
  0%{
    stroke-dashoffset:15000;
    stroke:blue;
  }
  40%{
    stroke-dashoffset:15000;
    stroke:green;
  }
  100%{
    stroke-dashoffset:0;
    stroke:red;
  }
}